<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kiddo.epsilon.custodet">

    <!--Only downloadable to devices with camera-->
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!--PERMISSIONS-->
    <!--Store Photo(Android 4.3 and lower)-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18">
    </uses-permission>
    <!--Take Photo-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--Connect with microsoft and google-->
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Configuring file provider for handling the images from camera-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="kiddo.epsilon.custodet.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:resizeableActivity="false">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />


                <!-- This marks the Activity as a Cardboard Activity and allows it
                     to be launched from the Cardboard app.
                <category android:name="com.google.intent.category.CARDBOARD" />
                -->

            </intent-filter>
        </activity>
    </application>
</manifest>